/* nav bar */
body {
  background-color: #FFE5D4;
}

@media all and (min-width:400px) and (max-width:800px) {
  .line-left {
    width: 1% !important;
  }

  .line-right {
    width: 1% !important;
  }

  .home-desc {
    margin-top: 30vh !important;
  }

  .img {
    margin-top: 30vh !important;
    display: none;
  }

  .footer {
    font-size: 1.5vh !important;
  }
}

@media all and (min-width:250px) and (max-width:450px) {
  .header {

    font-size: 100px !important;
  }

  .img {
    display: none;
  }

  .home-desc {
    font-size: 25px !important;
  }

  .desc>h2 {
    font-size: 20px !important;
  }

  .line-left {
    display: none !important;
  }

  .line-right {
    display: none !important;
  }

  .footer {
    font-size: 9px !important;
 
    text-align: center !important;
    background-color: #75b6a0;
    margin-top: 10px !important;
  }

  .blog-card {
    margin-left: 6% !important;
    margin-bottom: 100px !important;
  }

  input,.btn-primary,textarea{
    margin-bottom: 20px !important;
  }

  .navbar{
   
    width: fit-content;
  }

  a,
  span,
  .fa {

    padding-left: 0px;
    display: inline-block;
    font-size: 20px;

    text-align: center;
  }


  .fa-hand-o-right,
  .fa-hand-o-left {
    display: none !important;
  }




}

.navbar {

  background: #68A691;
  width: 100%;

}

.brand {
  font-size: 6vh !important;
}

.nav-link {
  border-radius: 5vh;
  font-size: 3vh !important;
}

.nav-link:hover {
  background-color: #694F5D;
  border-radius: 5vh;
  color: #BFD3C1;
}

.active {
  color: #FFE5D4 !important;
}


@media all and (min-width:500px) and (max-width:12623px) {
  .nav-link {
    font-size: 4vh !important;
  }
}

/* Home page */
.img {
  width: 20%;
}

.header {
  color: #7c1a4e;
}

.desc {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: fit-content;
  background-color: inherit;

}

.home-desc {
  text-align: center;
}

@media all and (min-width:500px) and (max-width:1400px) {


  .line-left {
    width: 5% !important;
  }

  .line-right {
    width: 5% !important;
    color: red !;
  }




}

/* About */
.about-img {
  width: 0%;
}

.desc>h2 {
  font-size: 5vh;
}

/* .form {
  margin: auto;
  margin-top: 10vh;
  width: 30%;
  border: 3px solid green;
  text-align: center;
  padding: 2vh;
  background-color: #BFD3C1 !important;
} */

label {
  padding: 2vh;

}

/* input,
textarea {
  border-color: #68A691;
  border-style: solid;
  border-radius: 20px;
  border-width: 2px;
} */

.send {
  background-color: #7c1a4e;
  color: #68A691
}

.sent {
  color: #68A691;
  text-align: center;
}

.sent-hidden {
  display: none;
}

.not-sent {
  color: red;
  text-align: center;
}

.not-sent-hidden {
  display: none;
}

/* portfolio */
.port {
  margin: auto;
  text-align: center;
}

/* Blog */
.blog {
  text-align: center;
}

.blog-card {
  display: inline-block !important;
  margin-right: 20vh;
  margin-bottom: 5%;
  width: 40vh;
  background-color: #BFD3C1 !important;
}

button {
  background-color: #7c1a4e !important;
  text-decoration: none;
}

.card-title {
  font-size: 3vh;
}



/* Footer */
.footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  position: fixed;
  font-size: x-large;
}


.fa {
  padding-left: 5vh;
  padding-right: 5vh;
}

.fa-hand-o-right,
.fa-hand-o-left {
  color: green;
}



hr {
  width: 50%;
}

a {
  text-decoration: none;
  color: #BFD3C1;
}


span,
a:hover {
  color: #68A691;
  
}

.line-left {
  content: "";
  display: inline-block;
  width: 20%;
  height: 2px;
  margin: 0px auto;
  background-color: green;
  margin-right: 5vh;
}

.line-right {
  content: "";
  display: inline-block;
  width: 20%;
  height: 2px;
  margin: 0px auto;
  background-color: green;
  margin-left: 5vh;
}

.hidden {
  display: none;
}
label{
  color: #541E35 !important;
  margin-bottom: 2.5vh;
}
input,textarea {
  border-top-style: hidden !important;
  border-right-style: hidden !important;
  border-left-style: hidden !important;
  border-bottom-style: groove !important;
  background-color: #FFE5D4 !important;
  color:#541E35 !important;
 
  
}
form input[type=submit]{
  border-radius: 15%;
}







.no-outline:focus {
  outline: none;
  border: none;
}
.form{
  text-align: center;
}

.login{
  text-align: center;
  border-top-style:solid !important;
  border-right-style:solid !important;
  border-left-style:solid !important;
  border-bottom-style: solid !important;
  border-width: 10px;
  border-image: linear-gradient(rgba(52,250,68,1) 0%, rgba(219,15,156,1)) 30;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top:5%;
  padding: 3%;



}